@{
    ViewBag.Title = "t2c";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<br />
<div class="row col-md-offset-1" style="margin-bottom: 20px">
    <div class="col-md-4 ">
        <div class="col-md-6">
            
            <a href="~/Page/Iphone" >
                <img class="iphone" src="~/Resources/iphone.png"/>
            </a>
        </div>
        <div class="col-md-6">
            <a href="~/Page/Android"><img class="iphone" src="~/Resources/androide.png" /></a>
        </div>

    </div>

    <div class="col-md-8">
        <div class="row col-md-offset-1">
            <div class="col-md-2 text-center">
                <a class="" href="~/Page/Iphone">
                    <img alt="Phone" src="~/Resources/cellphone.png" />
                    <br />
                    <h4> Phone</h4>
                </a>
            </div>
            <div class="col-md-2 text-center">
                <a class="" href="~/Page/Ipad">
                    <img alt="Ipad" src="~/Resources/ipad.png" />
                    <br />
                    <h4> IPad/Tablet</h4>
                </a>
            </div>
            <div class="col-md-3 text-center">
                <a class="" href="~/Page/Computers">
                    <img alt="PC" src="~/Resources/pc.png" />
                    <br />
                    <h4> PC</h4>
                </a>
            </div>
            <div class="col-md-2 text-center">
                <a class="" href="~/Page/Ipod">
                    <img alt="Ipods" src="~/Resources/Ipods.png" />
                    <br />
                    <h4> Ipods</h4>
                </a>
            </div>
        </div>
        <br />
        <div class="row text-center">
            <h3 style="color: darkorange">
                SELL YOUR PHONE AND ELECTRONICS

            </h3>

        </div>
        <div class="row text-center">
            <h4 style="color: firebrick">
                <i>
                    Select your device and get an offer in just a few steps
                </i>
            </h4>

        </div>
    </div>
</div>

<div class="row" style="background-color: silver">
    <h3 class="col-md-offset-1" style="color: firebrick">
        <strong>HOW IT WORKS</strong>
    </h3>
    <div class="row col-md-offset-1">
        <div class="col-md-4">
            <div class="col-md-6 circleInformation">
                <img src="~/Resources/search-cell.png" />
            </div>
            <div class="col-md-6">
                <h5 style="color: firebrick"><strong>GET A FREE OFFER</strong></h5>
                Simply find your gadget and answer a few easy questions.
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-6 circleInformation">
                <img src="~/Resources/contact.png" />
            </div>
            <div class="col-md-6">

                <h5 style="color: firebrick"><strong>SHIP IT TO T2C</strong></h5>
                It's free. We'll check out your gadget as soon as we receive it.
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-6 circleInformation">
                <img src="~/Resources/payment.png" />
            </div>
            <div class="col-md-6">
                <h5 style="color: firebrick"><strong>GET PAID FAST</strong></h5>
                Choose from check, Amazon.com Gift Cards or PayPal.
            </div>
        </div>
    </div>

</div>
<br />

<br />